* {
	box-sizing: border-box;
}

body {
	font-family: "Roboto Condensed",sans-serif;
	background: #ddd;
	margin: 0;
}

canvas {
  background: black;
  margin: 100px auto 0 auto;
  display: block;
}

a{
	text-decoration: none;
	color: #ffffff;
}

header{
	position: absolute;
	top: 0;
	background-color: #0b0d0f;
	height: 80px;
	text-align: center;
	width: 100%;
	line-height: 8px;
	box-shadow: 0 10px 5px rgba(0,0,0,1);
	margin-bottom: 50px;
}

#logo{
	margin-left: 30px;
	float: left;
	padding: 5px 0;
}

#logoText a{
	margin-top: 2px;
	font-size: 30px;
}

#logoText h2{
	margin-top: 2px;
	color: #888;
	font-size: 15px;
}

#logoText a:hover{
	color: #ff8a00;
}

#logoText{
	display: inline-block;
}

#score{
	margin-top: 15px;
	display: inline-block;
	color: #ffffff;
}

#hiscore{
	margin-top: 15px;
	margin-right: 60px; 
	float: right;
	display: inline-block;
	color: #ffffff;
}

#tapBut{
	position: absolute;
	bottom: 15px;
	left: 15px;
}

.tapBut{
	width: 70px;
	height: 70px;
	background-repeat: no-repeat;
	background-size: contain;
	background-color: rgba(255, 255, 255, 0);
	border: 1px solid rgba(255, 255, 255, 0);
}

